# Virtual Environments
venv/
.venv*/
.conda*/
build/

# Project Content
.vscode/

# Package Files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Distribution and Build Files
dist/*

# Temp Files
__pycache__/
.cache/*
.*.swp
.DS_Store
*.xlsx
*.log
environment.yaml
*.coverage