astroid==2.9.0
atomicwrites==1.4.0
attrs==21.2.0
cffi==1.14.5
click==8.0.3
colorama==0.4.4
cryptography==3.4.6
distlib==0.3.4
fchecker @ git+https://github.com/IncognitoCoding/fchecker@14d3edcea299a48059bd4cf0192fd1db761ee513
fexception==0.3.6
filelock==3.4.2
Flask==2.0.2
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.0
pbr==5.8.0
platformdirs==2.4.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.8.0
pycparser==2.20
pylint==2.12.2
pyparsing==2.4.7
pytest==6.2.4
PyYAML==5.4.1
six==1.16.0
stevedore==3.5.0
toml==0.10.2
typing_extensions==4.0.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
waitress==2.0.0
Werkzeug==2.0.2
wrapt==1.13.3
